<table class="table table-striped">
    <thead>
        <tr>
           <th>No. </th>
           <th>Token </th>
           <th>Lexema</th>
           <th>Fila </th>
           <th>Columna</th>
        
        </tr>
    </thead>
</table>

<div class="table_responsive">
    <table class="table table-striped">
        <tbody id="tablebody"></tbody>
    </table>